<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
  <header>
    <a href="#" class="logo"><img src="https://img.icons8.com/?size=100&id=16642&format=png&color=000000"style="width:42px;height:42px;"></a>
    <ul class="navbar">
      <li><a href="#home">Home</a></li>
      <li><a href="#new">New</a></li>
      <li><a href="#products">Products</a></li>
      <li><a href="#reviews">Reviews</a></li>
    </ul>
    <div class="header-icons">
  <i class="bx bx-menu" id="menu-icon"></i>
  <i class="bx bx-search-alt-2" id="search-icon"></i>
  <i class="bx bx-cart" id="cart"></i>
  <i class="bx bx-user" id="user"></i>
</div>

    <div class="search-box">
      <input type="search" name="" id="" placeholder="search here">
    </div>
    
    <div class="cart">
      <div class="box">
      <img src="https://images.pexels.com/photos/1456705/pexels-photo-1456705.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1">
        <div class="text">
          <h3>Running Shoes</h3>
           <span>$100.05</span>
          <span>x1</span>
        </div> 
        <i class='bx bxs-trash'></i>
     </div>
       <div class="box">
      <img src="https://images.pexels.com/photos/6540973/pexels-photo-6540973.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1">
        <div class="text">
          <h3>Running Shoes</h3>
           <span>$150.05</span>
          <span>x1</span>
        </div> 
        <i class='bx bxs-trash'></i>
     </div>
      <h2>Total: $250.10</h2>
      <a href="#" class="btn">Checkout</a>
   </div>
</header>
  <section class="home" id="home">  
   
    <div class="home-text">
      <span>Shop Now</span>
      <h1>New Arrival</h1>
      <p>Explore our latest collection of footwear and apparel.</p>
      <a href="#" class="btn">Explore</a>
    
   </div>
</section>
  
  <section class="new" id="new">  
    <div class="heading"> 
      <h1>New <span>This Week</span></h1>
   </div>
    <div class="swiper new-arrival"> 
      <div class="swiper-wrapper"> 
        <div class="swiper-slide box"> 
  <img src="https://images.pexels.com/photos/11737178/pexels-photo-11737178.jpeg">
          <div class="content">
      <a href="#" class="btn">Buy Now</a>
   </div>
   </div>
        <div class="swiper-slide box"> 
  <img src="https://images.pexels.com/photos/11924647/pexels-photo-11924647.jpeg">
          <div class="content">
      <a href="#" class="btn">Buy Now</a>
   </div>
   </div>
        <div class="swiper-slide box"> 
  <img src="https://images.pexels.com/photos/17825340/pexels-photo-17825340/free-photo-of-brush-and-a-shoe-against-white-background.jpeg">
          <div class="content">
      <a href="#" class="btn">Buy Now</a>
   </div>
   </div>
        <div class="swiper-slide box"> 
  <img src="https://images.pexels.com/photos/12725052/pexels-photo-12725052.jpeg">
          <div class="content">
      <a href="#" class="btn">Buy Now</a>
   </div>
   </div>
        <div class="swiper-slide box"> 
  <img src="https://images.pexels.com/photos/17825341/pexels-photo-17825341/free-photo-of-sneakers-nike-air-force-1-pastel-green.jpeg">
          <div class="content">
      <a href="#" class="btn">Buy Now</a>
   </div>
   </div>     
 </div>
</div>    
</section>
 <section class="product" id="products">
   <div class="heading"> 
   <h1>our <span>Products</span></h1> 
   </div> 
    <div class="product-container">    
       <div class="box"> 
        <img src="https://images.pexels.com/photos/6540973/pexels-photo-6540973.jpeg"> 
         <div class="content">
             <h2>Running Shoes</h2>
           <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div> 
           <span>$150.05</span>
        <i class='bx bx-cart' ></i>  
         </div>
       </div> 
      <div class="box"> 
        <img src="https://images.pexels.com/photos/16947118/pexels-photo-16947118/free-photo-of-close-up-of-a-shoe.jpeg"> 
         <div class="content">
             <h2>Running Shoes</h2>
           <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div> 
           <span>$150.05</span>
        <i class='bx bx-cart' ></i>  
         </div>
       </div> <div class="box"> 
        <img src="https://images.pexels.com/photos/10657971/pexels-photo-10657971.jpeg"> 
         <div class="content">
             <h2>Running Shoes</h2>
           <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div> 
           <span>$150.05</span>
        <i class='bx bx-cart' ></i>  
         </div>
       </div> <div class="box"> 
        <img src="https://images.pexels.com/photos/12306281/pexels-photo-12306281.jpeg"> 
         <div class="content">
             <h2>Running Shoes</h2>
           <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div> 
           <span>$150.05</span>
        <i class='bx bx-cart' ></i>  
         </div>
       </div> <div class="box"> 
        <img src="https://images.pexels.com/photos/9853347/pexels-photo-9853347.jpeg"> 
         <div class="content">
             <h2>Running Shoes</h2>
           <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div> 
           <span>$150.05</span>
        <i class='bx bx-cart' ></i>  
         </div>
       </div> <div class="box"> 
        <img src="https://images.pexels.com/photos/7543639/pexels-photo-7543639.jpeg"> 
         <div class="content">
             <h2>Running Shoes</h2>
           <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div> 
           <span>$150.05</span>
        <i class='bx bx-cart' ></i>  
         </div>
       </div> <div class="box"> 
        <img src="https://images.pexels.com/photos/21424371/pexels-photo-21424371/free-photo-of-close-up-of-a-pair-of-nike-air-force-1-sneakers.jpeg?"> 
         <div class="content">
             <h2>Running Shoes</h2>
           <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div> 
           <span>$150.05</span>
        <i class='bx bx-cart' ></i>  
         </div>
       </div> 
      <div class="box"> 
        <img src="https://images.pexels.com/photos/16947161/pexels-photo-16947161/free-photo-of-nikes-sneakers-on-white-background-with-candies.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750"> 
         <div class="content">
             <h2>Running Shoes</h2>
           <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div> 
           <span>$150.05</span>
        <i class='bx bx-cart' ></i>  
         </div>
       </div> 
   </div> 
 </section>    
  
   <section class="review" id="reviews">  
    <div class="heading"> 
      <h1>Our <span>Customer's</span></h1>
   </div>
    <div class="reviews-container"> 
      <div class="box"> 
  <img src="https://images.pexels.com/photos/26425576/pexels-photo-26425576/free-photo-of-woman-in-a-brown-sweater-sitting-at-a-white-table-in-the-studio.jpeg">
        <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div>  
      <p>I fell in love with these shoes but couldn’t decide right away, as I kept finding other pairs that caught my eye. I’ll definitely be back! I’m already considering ordering a pair online—I’m a true fan now!</p>
        <h2>Anna Kim</h2>
     </div><div class="box"> 
  <img src="https://images.pexels.com/photos/27385944/pexels-photo-27385944/free-photo-of-man-in-a-blue-polo-shirt-and-white-pants.jpeg">
        <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div>  
      <p>I was smitten with these shoes but couldn’t choose right away—there were just so many appealing options!.I’ll be back, and I’m seriously thinking about ordering a pair online. They’ve definitely won me over!</p>
        <h2>Zack Mike</h2>
     </div><div class="box"> 
  <img src="https://images.pexels.com/photos/5237964/pexels-photo-5237964.jpeg">
        <div class="stars">
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star'></i>
             <i class='bx bxs-star-half' ></i>
          </div>  
      <p>These shoes stole my heart, though I was torn because I saw so many other great options. They’re super comfortable, and the customer service was fantastic. I’ll be back and am already eyeing a pair to order online.</p>
        <h2>Linda James</h2>
     </div>
   </div> 
 </section>   
   <section class="footer">  
    <div class="footer-box">
      <h2>Nike</h2>
      <p>Explore our latest collection of footwear and apparel.</p>
       <div class="social">
       <a href="#"><i class='bx bxl-facebook-circle'></i></a>
      <a href="#"><i class='bx bxl-instagram' ></i></a>
      <a href="#"><i class='bx bxl-tiktok' ></i></a>
      <a href="#"><i class='bx bxl-twitter'></i></a>
      </div>
   </div>
     <div class="footer-box">
      <h3>Support</h3>
       <li><a href="#">Product</i></a></li>
       <li><a href="#">Get Help</i></a></li>
       <li><a href="#">Returns</i></a></li>
       <li><a href="#">Shipping and Delivery</i></a></li>
       <li><a href="#">Contact Us</i></a></li>
   </div>
<div class="footer-box">
      <h3>Resources</h3>
       <li><a href="#">Gift Cards</i></a></li>
       <li><a href="#">Find a Store</i></a></li>
       <li><a href="#">Nike Journal</i></a></li>
       <li><a href="#">Sustainability</i></a></li>
       <li><a href="#">About Nike</i></a></li>
   </div>
<div class="footer-box">
      <h3>Payment Options</h3>
      <div class="Payment "> 
  <img src="https://img.icons8.com/?size=100&id=pFNd0FTuBU2Q&format=png&color=000000">
        <img src="https://img.icons8.com/?size=100&id=Sq0VNi1Afgmj&format=png&color=000000">
        <img src="https://img.icons8.com/?size=100&id=CaSfJLdM4LTY&format=png&color=000000">
        <img src="https://img.icons8.com/?size=100&id=So6jK8i6jddZ&format=png&color=000000">
   </div>

</section>

  <section>  
   
    <div class="copyright">
      <p>&#169; 2024 Nike, Inc. All Rights Reserved</p>
   </div>
</section>
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> 
<script src = "/javascripts/index.js"></script>
</body>
</html>