<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/login.css">
</head>
<body>
    <form action ="/login" method = "post">
        <div class="login-wrap">
            <h2>Login</h2>
             <div class="form">
              <input type="email" placeholder="email" name="email" />
              <input type="password" placeholder="Password" name="password" />
              <button> Sign in </button>
              <a href="/register"> <p> Don't have an account? Register </p></a>
            </div>
          </div>
    </form>
    <script src = "/javascripts/login.js"></script>
</body>
</html>